@use "scss-reset/reset";
@import "assets/scss/fonts";
@import "assets/scss/vars";

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto";
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;

  > * {
    grid-column-start: 2;
    grid-column-end: -2;
  }
}

.full-width {
  grid-column-start: 1;
  grid-column-end: -1;
}

h1 {
  font-size: 30px;
  line-height: 1.2;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 30px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 40px;
    height: 2px;
    background-color: $black;
  }
}

.swiper {
  width: 100%;
}
